nav.nav.navbar-inverse
  .container-fluid
    .navbar-header
      a.navbar-brand(href='#') MOVIE
    ul.nav.navbar-nav.navbar-right
      li
        a(data-toggle='tab', href='#section_ask') 引言 INTRO
      li
        a(data-toggle='tab', href='#section_about') 人物 CHAR
      li
        a(data-toggle='tab', href='#section_video') 影片 VIDEO

header.jumbotron  
  .container
    h1 一個巨星的誕生
    hr
    h4 A Star Is Born
section#section_ask
    .container
      .row
        .col-sm-6.img
        .col-sm-6
          h2 一部美國音樂電影，由布萊德利.庫柏首度執導
section#section_about
  .container
    .row
      .col-sm-12
        h1 角色介紹 Character
        hr
      .col-sm-5
        img(src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/97/Bradley_Cooper_%2829670050807%29_%28cropped%29_%28cropped%29.jpg/440px-Bradley_Cooper_%2829670050807%29_%28cropped%29_%28cropped%29.jpg", alt="")
        h3 傑克森(布萊德利庫柏 飾演)
        p 在成名以前較多演出不起眼的綠葉，靠著喜劇角色博觀眾一笑，星圖可說是載浮載沉，即便現今已是一線男星，但在更迭迅速又頻繁的演藝圈中，連他也無法確定能夠紅多久，彷彿就像男主角傑克森就是他自己的縮影一般。
 
      .col-sm-2
      .col-sm-5
        img(src="https://img.gq.com.tw/_rs/645/userfiles/sm/sm1024_images_A1/36320/2018060705369678.jpg", alt="")
        h3 艾利(女神卡卡 飾演)
        p 女神卡卡飾演的女主角艾利，從最初舞台上的清純、被經紀公司包裝，到最後傑克森話找回初衷做最原本的自己，也正好與塌陷時鐘歌手生涯如出一轍，過去常以像是生牛肉造型的服裝等誇張的造型示人，到最近多以優雅風格亮相，展現最真實的女神卡卡。

section#section_video
  .container
    .row
      .col-sm-12
        h1 音樂欣賞 Music
        hr
      .col-sm-12
        h3 Shallow<擱淺帶>
        .embed-responsive.embed-responsive-16by9
          iframe.embed-responsive-item(src="https://www.youtube.com/embed/h2Cg_02Jfak" , allowfullscreen='')
      